

.platform-background{
    -fx-background-color: #F1FFFF;
}

.nav-bar{
   -fx-background-color: #ffffff;
}


.side-menu-background{
    -fx-background-color: #01161E;
}


.menu-item{
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-text-align: center;
    -fx-border-color: white;
    -fx-border-width: 0.1;
    -fx-border-right: 0;
    -fx-border-style: solid hidden solid hidden;
}

.menu-item:hover{
    -fx-background-color: #01171E;
    -fx-text-fill: #e2442e;
    -fx-cursor: hand;
}

.logout-btn{
    -fx-background-color: #e2442e;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.time{
    -fx-font-weight: bold;
}

.menu-hidden-btn{
    -fx-text-fill: black;
}

.menu-hidden-btn:hover{
    -fx-text-fill: #e2442e;
    -fx-cursor: hand;
}

.profile-img{
    -fx-border-radius: 30px;
}

.progress-bar{
    -fx-accent: lightblue;
    -fx-border-style: none;
}




/*
#F2EFEA
#FC7753
#66D7D1
#403D58
#DBD56E
*/